body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
}

.grid-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.grid-item
{
    border: 1px solid black;
}

.hover
{
    background-color: blue;
}

.menu-button
{
    border: 2px solid blue;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: lightblue;
    color: black;
    font-size: 18px;
}

.menu-button:hover
{
    background-color: #8888ff;
}

.menu-container
{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}